/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@font-face {
    font-family: 'Offbit';
    src: url("/fonts/OffBitTrial-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'Helvetica-Narrow';
    src: url("/fonts/Helvetica-Narrow-Oblique.otf") format("opentype");
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
	margin: auto;
	padding: 20px;
	max-width: 65ch;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: #444;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong {

}

.site-header {
	display: block;
	background-color: white;
}

.site-header-inner{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
	padding-left: 1em;
}

.site-header-inner nav{
	font-family: 'OffBit', sans-serif;
	font-size: 3em;
	padding-right: 1em;	
}

.site-header-inner nav a{
	color: black;	
}

@media (min-width: 1200px) {
	.site-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 9999;
	
	}
	main {
		margin-top: 5em;
	}
	body{
		max-width: none;
	}
	.intro {
		padding-bottom: 2rem;
		text-align: left;
	}
	#intro-summary {
		font-family: 'Schibsted Grotesk', sans-serif;
		font-style: italic;
		font-size: 3rem;
		font-weight: 400;
		/* padding-top: clamp(6rem,30vh,12rem); */
		padding-right: 2.5rem;
    	padding-left: 5rem;
		letter-spacing: .01em;
    	line-height: 1.25;
	}
}

#site-title {
	font-family: 'OffBit', sans-serif;
	font-size: 3em;
	background-color: white;
	display: inline-block;
	text-decoration: none;
	padding-left: .4em;
}

@media (prefers-reduced-motion: no-preference) {
	.boujee-text {
	  animation: move-bg 8s linear infinite;
	}
	@keyframes move-bg {
	  to {
		background-position: var(--bg-size) 0;
	  }
	}
 }

.blog{
	padding-right: 5rem;
    padding-left: 5rem;
}

.blog-header {
	border-top: solid 2px #d3d4db;
	font-family: 'Helvetica-Narrow';
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: .01em;
    line-height: 1.25;
}

/* P5 */
#sketch-holder-header {
}

#sketch-holder-body{
	text-align: center;
}

#sketch-holder-body canvas{
	padding-top: 4em;
	margin: auto;
	width: 92% !important;
}

a:hover ~ #site-title { 
	--bg-size: 400%;
	--color-one: hsl(234, 100%, 50%);
	--color-two: hsl(0, 0%, 0%);
	background: linear-gradient(
				  90deg,
				  var(--color-one),
				  var(--color-two),
				  var(--color-one)
				) 0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: move-bg 8s infinite linear;
  }

#sketch-holder-header canvas{
	height: 2.5em !important;
	width: 4em !important;
	transform: skew(10deg, 10deg);
}
b {
	color: #222;
}
a {

}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}
