---
import Layout from '../layouts/About.astro';
---

<Layout
	title="Liam Tsang"
	description="Front-end Developer & Designer"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/placeholder-about.jpg"
>

	<p>
	Hi, I’m Liam. I am a front-end developer and designer who takes the web out of the box. I love creating dynamic and exciting experiences using threejs, p5js and css animations. I've always had a passion for digital design; in kindergarten, I designed and sold customized bookmarks to my classmates. Now I am interested in taking interactive experiences on the web to the next level, by pushing designs outside of the standards set by the print medium. I am currently in my senior year of Integrated Design & Media at NYU and will graduate in the fall. 
	</p>
</Layout>
