---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import SunP5 from './SunP5.astro';
---

<header class="site-header">
	<div class="site-header-inner">
	<div style="display: block">
		<a href="/" class="site-header-inner">
			<div id="sketch-holder-header"></div>
			<h2 id="site-title">
				{SITE_TITLE}
			</h2>
		</a>
		<SunP5 />
	</div>
	<nav>
		<HeaderLink href="/blog">WORKS</HeaderLink>
		<HeaderLink href="/about">ABOUT</HeaderLink>
	</nav>
	</div>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
